*{
    padding:0;
    margin: 0;
    font-family: 'Bitter', serif;
    letter-spacing: 0.07em;
}

body{
    background-color:#ececea
}

/* global */

.border{
    border:2px solid black;
}

.bg-white{
    background-color: white;
}


.no-mp{
    margin: 0;
    padding: 0;
}

.m2{
    margin-top: 1em;
}

.p2{
    padding: 0.5em;
}


/* header  */

.header {
    background-color: #404267;
    
}

.header .logo-title {
    color: white;
}

/* main body */

.main-body{
    margin-top: 1vh;
}




/* footer */
.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: white;
   padding: 1em;
}

/* home */

.page-footer .button{
    display: block;
}

.page-footer a{
    text-decoration: none;
   
   color: #404267;

}

.page-footer a:hover{
    color: black;
}
/* increase icon size */
.page-footer i{
    font-size: xx-large;
}