*{
    padding:0;
    margin: 0;
    font-family: 'Bitter', serif;
    letter-spacing: 0.07em;
}

body{
    background-color:#ececea
}

/* global */

.border{
    border:2px solid black;
}

.bg-white{
    background-color: white;
}

/* header  */

.header {
    background-color: #404267;
    
}

.header .logo-title {
    color: white;
}

/* main body */

.main-body{
    margin-top: 1vh;
}


/* covid 19 panel */

/* title */


.covid-updates-title h6{
    font-weight: bold;
}

/* contents */
.covid-updates-content{
    
    border-left: 2px solid #404267;
    border-right: 2px solid #404267;
}

/* confirmed */
.covid-updates-content #confirmed-count{
    color: red;
    font-weight: bold;
}
.covid-updates-content #confirmed-title{
    color: #505050;
    font-weight: bold;
}


/* recovered */
.covid-updates-content #recovered-count{
    color: green;
    font-weight: bold;
}
.covid-updates-content #recovered-title{
    color: #505050;
    font-weight: bold;
}

/* deaths */
.covid-updates-content #death-count{
    color: 505050;
    font-weight: bold;
}
.covid-updates-content #death-title{
    color: #505050;
    font-weight: bold;
}

/* menus */

/* menus global */
.a-block{
    text-decoration: none;
    color:#404267;
}


.a-block p{
    font-size: 1em;
    font-weight: bold;
}

.a-block i{
    font-size: 2em;
    margin-bottom: 1em;
}
/* menus global */

.menu .card-like{
    padding:2em 0.5em;
    
}

.menu h6{
    font-weight: bold;
}



/* footer */
.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: transparent;
   color: #505050;
}

.page-footer .content{
    background-color: white;
    padding: 1vh;
}

.page-footer .content h6{
    color:#505050;
}

/* home */

.page-footer .button{
    display: block;
}

.page-footer a{
    text-decoration: none;
    color:#505050;
}

/* increase icon size */
.page-footer i{
    font-size: xx-large;
}